<!-- headText class are from main styles.css file it is globaly so we can use any where in this project -->
<h1 class="headText">Interpolation Component</h1>

<h3>Name is : {{name}}</h3>
<h3>Age is : {{age}}</h3>
<!-- <h3 style="color:{{color}};">Age is : {{age}}</h3> -->

<input type="{{inputType}}" /><br><br>
<input type="{{inputType2}}" />


<h4>Todays date : {{date}}</h4>


<h4>{{show()}}</h4>   <!--  to call a function -->


<h2>USER DATA</h2>
<h4 class="data">
ID :{{user.id}}<br>
NAME :{{user.name}}<br>
AGE :{{user.age}}<br>
ADDRESS :{{user.address}}
</h4>
