<!-- here we can use our custom components
  by using component selector name/id like <app-home>
  that is specifyed in components ts file -->


<h2>It is the demo project of Angular JS</h2>

<app-home></app-home>

<app-about></app-about>

<app-interpolation></app-interpolation>

<app-form></app-form>

<app-property-binding></app-property-binding>

<app-style-binding></app-style-binding>

<app-class-binding></app-class-binding>

<app-event-binding></app-event-binding>

<app-two-way-data-binding></app-two-way-data-binding>

<app-demo [text]="title1" [abc]="text"></app-demo>

<app-parent></app-parent>

<app-if-else></app-if-else>

<app-for-loop></app-for-loop>

<app-switch></app-switch>

<app-list (dataEvent)="imageSelection($event)"></app-list>
<app-show-img [image]="selectedImage"></app-show-img>
